.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  position: absolute;
  left: 5vh;
  color: #fff;
  font-size: 4vh;
}

.current-score {
  position: absolute;
  right: 5vh;
  color: #fff;
  font-size: 4vh;
}