#canvas {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
}

a {
    color: #fffbf9;
    size: 3em;
    margin-right: 1em;
    font-family: Arial Bold
    text-decoration: none;
}

a:hover {
    color: #ffd6cc;    
}
