html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow-y: hidden;
}

/* a { */
/*     color: #fffbf9; */
/*     size: 3em; */
/*     margin-right: 1em; */
/*     font-family: Arial Bold; */
/*     text-decoration: none; */
/* } */

/* a:hover { */
/*     color: #ffd6cc; */    
/* } */
