@use "@Styles" as *;

.button {
  &__back {
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 0.4em;

    &.opt-play {
      background-color: $color-secondary;
    }

    &.opt-signout {
      background-color: $color-signout-secondary;
    }

    &.opt-google {
      background-color: $color-google-secondary;
    }

    &.opt-facebook {
      background-color: $color-facebook-secondary;
    }

    &.opt-tutorial {
      background-color: $color-tutorial-secondary;
    }

    &.opt-upgrade {
      background-color: $color-upgrade-secondary;
    }
  }

  &__front {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1ch;

    padding: calc(6px + 0.2em) 0;
    border-radius: 12px;
    height: clac(inherit - 6px);
    font-size: 1.3em;
    color: white;
    transform: translateY(-6px);

    &.opt-play {
      background-color: $color-main;
    }

    &.opt-signout {
      background-color: $color-signout-main;
    }

    &.opt-google {
      background-color: $color-google-main;
    }

    &.opt-facebook {
      background-color: $color-facebook-main;
    }

    &.opt-tutorial {
      background-color: $color-tutorial-main;
    }

    &.opt-upgrade {
      background-color: $color-upgrade-main;
    }
  }

  &__back:active &__front {
    transform: translateY(-2px);
  }
}