@use "@Styles" as *;

.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 10px;

  @include card-background;

  h2 {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 2em;
  }

  ul {
    overflow-y: scroll;
    margin: 0px;
    padding: 0px 10px;

    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;

      border-bottom: 1px solid #ddd;
      list-style: none;

      .featured {
        // padding: 0px 10px;
        background-color: $color-main;
        font-weight: bold;
      }
    }
  }
}