@use "@Styles" as *;

.login {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: space-evenly;
  gap: 5px;

  @include card-background;

  h2 {
    padding: 0px;
    margin: 0px;
    text-align: center;
    text-shadow: 2px 2px 0px $color-main;
    font-size: 2em;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .play-button {
      background-color: $color-main;
      height: 3em;
    }

    &-auth {
      display: flex;
      flex-direction: row;
      gap: 5px;

      .signout-button {
        width: 100%;
        background-color: $color-signout;
        height: auto;
      }

      .google-button {
        width: 100%;
        background-color: $color-google;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1ch;
      }

      .facebook-button {
        width: 100%;
        background-color: $color-facebook;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1ch;
      }
    }
  }

  &__tutorial-blurb {
    text-align: center;
    color: $color-text-secondary;
    font-size: 1.2em;
    padding: 0.5em 0.5em;
  }

  .tutorial-button {
    background-color: $color-tutorial;
  }
}