html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow-y: hidden;
}

a {
	color: Black;
	padding: 5px;
	font-size: 1.2em;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	background-color: #ffd6cc;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	left: 20px;
}

a:hover {
	color: red;
}