.summon-login {
  right: 5vh;
  bottom: 4vh;
  position: absolute;
  /* width: 100px; */
  /* padding: 20px 40px; */
  /* border-radius: 25px; */
  /* background-color: #fff; */
  /* box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1); */
}

.summon-login button {
  margin: 0px;
  width: 100px;
  border: none;
  background-color: #E2AEDD;
  color: white;
}
