@use "@Styles" as *;

.shop {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;

  &__left {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 2em;

    width: 30vw;
    height: 500px;

    font-size: 0.8em;
  }

  &__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4em 1fr 6em 5em;

    width: min(60vw, 800px);
    height: min(650px, 100%);

    .nav-top {
      padding-top: 1.3em;
      border-radius: 25px;
      transition: background-color 0.1s;
    }

    .tab-label {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5em;

      i {
        margin-left: 10px;
      }
    }

    .active {
      background-color: white;
    }

    .inactive {
      background-color: lightgray;
    }

    .tab-stats {
      grid-column: 1;
      grid-row: 1/3;
      z-index: -200;

      &-click {
        grid-column: 1;
        grid-row: 1;
        z-index: 200;
      }
    }

    // .tab-powerups {
    //   grid-column: 2;
    //   grid-row: 1/3;
    //   z-index: -200;

    //   &-click {
    //     grid-column: 2;
    //     grid-row: 1;
    //     z-index: 200;
    //   }
    // }

    .tab-fit {
      grid-column: 2;
      grid-row: 1/3;
      z-index: -200;

      &-click {
        grid-column: 2;
        grid-row: 1;
        z-index: 200;
      }
    }

    &-main {
      grid-column: 1/5;
      grid-row: 2/3;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-card-background {
      @include card-background;

      grid-column: 1/5;
      grid-row: 2/4;
      z-index: -100;
    }

    &-nav-bottom {
      grid-column: 1/5;
      grid-row: 3;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 8em;

      padding: 0 3em 1em 3em;
      font-size: 1.2em;
      color: $color-main;

      .arrow-active {
        color: $color-main;
      }

      .arrow-inactive {
        color: $color-gray;
      }

      i {
        font-size: 3em;
      }
    }

    h2 {
      padding: 0px;
      margin: 0px;
      text-align: center;
      font-size: 2em;
    }

    &-buttons {
      grid-column: 1/3;
      grid-row: 4;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1em;

      margin-top: 1em;
    }
  }
}

@media only screen and (max-width: 800px) {
  .shop {
    &__left {
      font-size: 1.8vw;
      height: 40vh;
    }

    &__right {
      height: 60vh;
      grid-template-rows: 3em 1fr 6em;

      .tab-label {
        font-size: 2vw;
      }

      &-main {
        font-size: 1.5vw;
      }

      &-nav-bottom {
        padding: 0 4vw 1em 4vw;
      }
    }
  }
}