@import "../../assets/styles/card";
@import "../../assets/styles/button";

.shop {
  display: flex;
  flex-direction: row;

  &__left {
    position: relative;
    width: 50vw;
    height: 500px;

    p {
      position: absolute;
      bottom: 0px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    // justify-content: space-evenly;
    // gap: 2em;

    width: min(30vw, 500px);
    height: 500px;
    @include card-background;

    h2 {
      padding: 0px;
      margin: 0px;
      text-align: center;
      font-size: 2em;
    }

    .stats {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
      // gap: 1em;
    }

  }

}