.navbar {
  position: absolute;
  display: flex;
  flex: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;

  bottom: 0.5em;
  right: 25px;
  height: 3em;

  &__icon {
    height: 100%;
    padding: 0 0.5em;
  }
}