@import "../../assets/styles/card";
@import "../../assets/styles/button";

.shopCard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 10px;

  @include card-background;

  h2 {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 2em;
  }
}