.scoreboard {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 40px;
  border-radius: 25px;
  height: 70vh;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.scoreboard h1 {
  text-align: center;
}

.scoreboard ul {
  padding: 0px 40px;
  overflow-y: scroll;
}

.scoreboard li {
  padding-bottom: 50px;
  border-bottom: 1px solid #ddd;
  /* width: 40%; */
  text-align: center;
  list-style: none;
}

.name {
  float: left;
}

.score {
  float: right;
}

.scoreboard button {
  width: 50%;
  margin-left: 25%;
}

@media only screen and (max-width: 600px) {

  .scoreboard {
    width: 200px;
  }

}