@import "../../assets/styles/card";
@import "../../assets/styles/button";

.login {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;

  padding: 20px 50px;
  width: calc(100% - 100px);
  height: calc(100% - 40px);

  @include card-background;

  h2 {
    padding: 0px;
    margin: 0px;
    text-align: center;
    text-shadow: 2px 2px 0px $color-main;
    font-size: 2em;
  }

  .play-button {
    background-color: $color-main;
  }

  &__auth-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .google-button {
      width: 100%;
      background-color: $color-google;
    }

    .facebook-button {
      width: 100%;
      background-color: $color-facebook;
    }
  }

  &__tutorial-blurb {
    text-align: center;
    color: $color-text-secondary;
    font-size: 1.2em;
    padding: 0.5em 0.5em;
  }

  .tutorial-button {
    background-color: $color-tutorial;
  }
}