.login {
  position: relative;
  height: 60vh;
  width: 500px;
  margin: 20px;
  padding: 50px;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
}

.login h2 {
  cursor: pointer;
  text-align: center;
  font-size: 40px;
}

.login button {
  background-color: none;
  border: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 40px;
}

.login ol {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.login .field {
  height: 100px;
}

.login ol li {
  list-style: none;
}

.login .selected {
  color: #E2AEDD;
  text-decoration: underline;
}

.login input {
  width: 100%;
  font-size: 20px;
  padding: 10px;
}

.login .errors {
  color: #f57187;
}

.login input[type=submit] {
  font-size: inherit;
  margin-left: 40%;
  width: 20%;
  cursor: pointer;
  font-weight: bold;
  border: 3px solid gray;
  height: 4em;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

@media only screen and (max-width: 600px) {

  .login {
    width: 80vw;
    padding: 30px;
  }
}