.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 12em;
  grid-template-areas:
    "login scoreboard"
    "shop scoreboard"
  ;
  gap: 20px;

  height: 500px;
  width: 600px;

  border: 1px solid red;

  font-size: 0.8em;

  .login {
    grid-area: login;
  }

  .shop {
    grid-area: shop;
  }

  .scoreboard {
    grid-area: scoreboard;
  }
}