.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* .title {
  position: absolute;
  left: 5vh;
  color: #fff;
  font-size: 4vh;
} */

.current-score {
  position: absolute;
  left: 5vh;
  color: #000;
  font-size: 4vh;
}

button {
  font-weight: bold;
  font-size: inherit;
  width: 30%;
  height: 4em;
  border: 3px solid gray;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 10px;
  background-color: white;
}