body {
  margin: 0;
  font: 14px "Century Gothic", Futura, sans-serif;
  background: linear-gradient(to right, #E2AEDD, #EBCBF4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#github {
	position: fixed;
	padding: 10px;
	bottom: 5px;
	left: 5px;
	background-color: black;
}

a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: pink;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  position: absolute;
  top: 1vh;
  left: 5vh;
  color: #fff;
  font-size: 4vh;
}