.fit {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  height: 80%;
  width: 80%;

  font-size: 0.6em;

  h2 {
    padding-bottom: 1em;

    font-size: 1em;
    font-weight: normal;
    text-align: left;
  }

  .fit-items {
    display: flex;
    flex-direction: row;
    gap: 1.6em;

    overflow-x: scroll;
    overflow-y: auto;
  }
}

@media only screen and (max-width: 800px) {
  .fit {
    font-size: 1.4em;
  }
}