@import "../../../assets/styles/variables";

.fit {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  height: 80%;
  width: 80%;

  font-size: 0.7em;

  h2 {
    padding-bottom: 1em;

    font-size: 1em;
    font-weight: normal;
    text-align: left;
  }
}

@media only screen and (max-width: 800px) {
  .fit {
    font-size: 1.4em;
  }
}