@use "@Styles" as *;

.playerFit {
  position: relative;
  text-align: center;

  min-width: 4.5em;
  height: 6em;
  border-width: 0.2em;
  border-style: solid;

  &.frame-normal {
    border-color: white;
  }

  &.frame-locked {
    color: $color-darkGray;
    background-color: $color-gray;
  }

  &.frame-cant-afford {
    color: $color-shop-cant-afford-main;
    background-color: $color-shop-cant-afford-secondary;
  }

  &.frame-afford {
    color: $color-shop-afford-main;
    background-color: $color-shop-afford-secondary;
  }

  &.frame-selected {
    color: $color-shop-selected;
    background-color: none;
  }

  &-name {
    position: absolute;
    top: 0em;
    width: 100%;
    z-index: 200;
  }

  &-label {
    position: absolute;
    margin-bottom: 0;
    bottom: 0em;
    width: 100%;
    z-index: 200;
  }

  p {
    font-size: 0.8em;
    padding: 0px;
    margin: 0px;
  }

  canvas {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    // background-color: orange;
  }
}